@font-face {
    font-family: 'CMU Bright';
    src: url('CMUBright-Oblique.woff2') format('woff2'),
        url('CMUBright-Oblique.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Serif';
    src: url('CMUSerif-BoldItalic.woff2') format('woff2'),
        url('CMUSerif-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Serif Extra';
    src: url('CMUSerif-BoldSlanted.woff2') format('woff2'),
        url('CMUSerif-BoldSlanted.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Bright';
    src: url('CMUBright-SemiBold.woff2') format('woff2'),
        url('CMUBright-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Bright';
    src: url('CMUBright-Roman.woff2') format('woff2'),
        url('CMUBright-Roman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Typewriter Text';
    src: url('CMUTypewriter-Light.woff2') format('woff2'),
        url('CMUTypewriter-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Bright';
    src: url('CMUBright-SemiBoldOblique.woff2') format('woff2'),
        url('CMUBright-SemiBoldOblique.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Serif Extra';
    src: url('CMUSerif-RomanSlanted.woff2') format('woff2'),
        url('CMUSerif-RomanSlanted.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Concrete';
    src: url('CMUConcrete-Italic.woff2') format('woff2'),
        url('CMUConcrete-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Concrete';
    src: url('CMUConcrete-Roman.woff2') format('woff2'),
        url('CMUConcrete-Roman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Concrete';
    src: url('CMUConcrete-BoldItalic.woff2') format('woff2'),
        url('CMUConcrete-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Typewriter Text';
    src: url('CMUTypewriter-LightOblique.woff2') format('woff2'),
        url('CMUTypewriter-LightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Sans Serif';
    src: url('CMUSansSerif-Oblique.woff2') format('woff2'),
        url('CMUSansSerif-Oblique.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Typewriter Text';
    src: url('CMUTypewriter-Italic.woff2') format('woff2'),
        url('CMUTypewriter-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Classical Serif';
    src: url('CMUClassicalSerif-Italic.woff2') format('woff2'),
        url('CMUClassicalSerif-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Concrete';
    src: url('CMUConcrete-Bold.woff2') format('woff2'),
        url('CMUConcrete-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Serif';
    src: url('CMUSerif-Bold.woff2') format('woff2'),
        url('CMUSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Serif';
    src: url('CMUSerif-Roman.woff2') format('woff2'),
        url('CMUSerif-Roman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Typewriter Text';
    src: url('CMUTypewriter-BoldItalic.woff2') format('woff2'),
        url('CMUTypewriter-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Sans Serif Demi Condensed';
    src: url('CMUSansSerif-DemiCondensed.woff2') format('woff2'),
        url('CMUSansSerif-DemiCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Typewriter Text';
    src: url('CMUTypewriter-Regular.woff2') format('woff2'),
        url('CMUTypewriter-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Typewriter Text';
    src: url('CMUTypewriter-Bold.woff2') format('woff2'),
        url('CMUTypewriter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Serif Upright';
    src: url('CMUSerif-UprightItalic.woff2') format('woff2'),
        url('CMUSerif-UprightItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Serif';
    src: url('CMUSerif-Italic.woff2') format('woff2'),
        url('CMUSerif-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Sans Serif';
    src: url('CMUSansSerif-BoldOblique.woff2') format('woff2'),
        url('CMUSansSerif-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Sans Serif';
    src: url('CMUSansSerif.woff2') format('woff2'),
        url('CMUSansSerif.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Sans Serif';
    src: url('CMUSansSerif-Bold.woff2') format('woff2'),
        url('CMUSansSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Typewriter Text Variable Width';
    src: url('CMUTypewriterVariable.woff2') format('woff2'),
        url('CMUTypewriterVariable.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Typewriter Text Variable Width';
    src: url('CMUTypewriterVariable-Italic.woff2') format('woff2'),
        url('CMUTypewriterVariable-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

