body {
    background-color: beige;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    /* mon commentaire */
}

h1 {
    color: rgb(225, 242, 156);
    background-color: blue;
}

h2, h3 {
    color: chartreuse;
}

#bienvenue {
    border: 1px dashed olive;
    background-color: aqua;
}

.important {
    border: 2px solid blue;
}

.important > strong  {
    text-decoration: underline wavy;
    color: red;
    font-style: italic;
}



