table {
    border-collapse: collapse;
    font-size: 14px;
}

table td {
    border: 1px black solid;
    padding: 10px;
    padding-bottom: 3px;
}

table.value {
    width: 100%;
    table-layout: fixed;
}

table.value td {
    padding: 5px;
}
