body {
    /*border: solid 1px blue;*/
    font-family: "CMU Typewriter Text";
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.45em;
    color: rgb(29, 29, 31);
}

#header {
    width: fit-content;
    margin-top: 40px;
    margin-left: auto;
    text-align: right;
}

h1 {
    width: fit-content;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-top: 70px;
}

#navigation {
    /*border: solid 1px green;*/
    /*background-color: rgb(171, 171, 171);*/
    padding-top: 5px;
    padding-bottom: 5px;
}

#navigation ul {
    /*border: solid 1px orange;*/
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

#navigation li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    /*border: solid 1px red;*/
}

img.small{
    width: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.medium {
    width: 200px;
    float: left;
    margin-right: 10px;
}

img.big {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header {
    width: 100%;
}

#header td.left {
    font-style: italic;
    text-align: left;
}

#header td.right {
    font-weight: bold;
}

#instructions {
    font-style: italic;
}

ol {
    list-style-type: lower-alpha;
}

ol ol {
    list-style-type: lower-roman;
}

.exercice {
    position: relative;
}

.question {
    position: relative;
}

.points {
    position: absolute;
    right: -100px;
    width: 50px;
    font-style: italic;
    text-align: right;
    padding-right: 20px;
}

li {
    margin-bottom: 5px;
}

div.exercice>.points {
    top: -17px;
    font-size: 18px;
    font-weight: bold;
}

li.question>.points {
    bottom: -17px;
    font-weight: normal;
}

.cqfd {
    width: fit-content;
    margin-left: auto;
}

ol.en-tete {
    list-style-type: none;
    padding-left: 0px;
    position:relative;
    left: -40px;
}

ol.en-tete>li {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.2em;
    font-weight: bold;
}
